* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#button-main {
    padding: 10px;
    width: 100px;
    height: 40px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 1px black, -1px -1px 1px black;
}